<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"> 
<dict> 
<key>items</key> 
<array> 
<dict> 
<key>assets</key> 
<array> 
<dict> 
<key>kind</key> 
<string>software-package</string> 
<key>url</key> 
<string>http://60.205.214.198/apps_file/upgrade_download/tingtingfm?format=ipa&amp;r=261697995</string> 
</dict> 
<dict> 
<key>kind</key> 
<string>display-image</string> 
<key>needs-shine</key> 
<false /> 
<key>url</key> 
<string>http://60.205.214.198/photos/87234bfe5d4e6d7b1fba1e08c75a5040</string> 
</dict> 
</array> 
<key>metadata</key> 
<dict> 
<key>bundle-identifier</key> 
<string>com.tingting.cbb</string> 
<key>bundle-version</key> 
<string>2.9.7</string> 
<key>subtitle</key> 
<string>297003</string> 
<key>title</key> 
<string>讯听云</string> 
<key>kind</key> 
<string>software</string> 
</dict> 
</dict> 
</array> 
</dict> 
</plist>
