<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"> 
<dict> 
<key>items</key> 
<array> 
<dict> 
<key>assets</key> 
<array> 
<dict> 
<key>kind</key> 
<string>software-package</string> 
<key>url</key> 
<string>http://work.minxing365.com/apps_file/upgrade_download/sdyzd?format=ipa&amp;r=96243764</string> 
</dict> 
<dict> 
<key>kind</key> 
<string>display-image</string> 
<key>needs-shine</key> 
<false /> 
<key>url</key> 
<string>http://work.minxing365.com/photos/d812c2c7e20f0a46b7686adcf45f4715</string> 
</dict> 
</array> 
<key>metadata</key> 
<dict> 
<key>bundle-identifier</key> 
<string>com.dehuinet.aliyunwork</string> 
<key>bundle-version</key> 
<string>6.4.2.011513</string> 
<key>subtitle</key> 
<string>642011513</string> 
<key>title</key> 
<string>敏行</string> 
<key>kind</key> 
<string>software</string> 
</dict> 
</dict> 
</array> 
</dict> 
</plist>
